---
language: python
sudo: required
dist: xenial
python:
  - "2.7"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
before_install:
  - pip install --upgrade setuptools
install:
  - "pip install -r requirements.txt"
script: "python setup.py test"
